* {
    margin: 0;
    padding: 0;
    /* border: 0; */
}
section#content {
    text-align: center;
    /* position: relative;
    height: 2em;
    top: calc(50vh - 1em); */
    display: flex;
    height: 100vh;
    width: 100vw;
}
section#content > * {
    margin: auto auto;
}
button.file-open {
    width: 100%;
    height: 100%;
    font-size: x-large;
}
button.file-open:hover {
    filter: invert(1) contrast(0.5);
}

/* body > smart-button.primary {
    position:fixed;
    top:0;
    right:0;
}
body > smart-button.primary > button {
    line-height: 2;
} */
smart-tabs {
    /* height: 50vh; */
    --smart-tabs-default-height: 80vh;
}
smart-tabs#horizontalTabs1 {
    width: 100%;
}
/* smart-tabs#horizontalTabs1 div.smart-tab-strip {
    width: calc(100% - 3em);
} */
smart-tab-item > div.smart-container:empty::after{
    content: "Click here to edit text";
    color: lightgray;
}

.optionLabel:empty::before{
    color:lightgrey;
    content:"Click to enter text...";
}

.draggable:focus-within{
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.resizeToContent{
    display:inline-block;
}


div.ql-container {
    height:50vh;
}

@media only screen and (max-device-width: 340px) {
    section#content {
        flex-flow: column;
    }
}